body {
    background-color: #222222;
    color: #DDDDDD;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    max-width: 50rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain; /* Maintains aspect ratio of the canvas */
}
